{% load static %}
{% block content %}
{% include 'header.html' %}
    <!-- Navbar End -->
    <br><br><br><br><br><br>

    <!-- Contact Start -->
    <div class="container-fluid pt-5">
        <div class="row justify-content-center position-relative" style="margin-top: -200px; z-index: 1;">
            <div class="col-lg-8">
                <div class="bg-white rounded p-5 m-5 mb-0">
                    <h1> Prescription</h1>
                    <form method="POST" action="addpay/{{result.id}}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <input type="text" hidden class="form-control bg-light border-0" value="{{result.user_id}}" name="user_id" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-12">
                                <input type="text" hidden readonly class="form-control bg-light border-0" value="{{result.clinic_name}}" name="clinic_name" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <input type="date" class="form-control bg-light border-0" placeholder="Date" name="date" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <input type="text" hidden class="form-control bg-light border-0" value="{{result.documents}}" placeholder="documents" name="documents" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <input type="text" hidden class="form-control bg-light border-0" value="{{result.description}}" placeholder="description" name="description" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <input type="text" hidden value="{{result.timing}}" class="form-control bg-light border-0" placeholder="timing" name="timing" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control bg-light border-0" placeholder="amount" name="amount" style="height: 55px;">
                            </div>
                        
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

    <!-- Footer Start -->
    {% include 'footer.html' %}
{% endblock %}
